In [1]:
import pandas as pd;
ev = pd.read_csv('Electriccar.csv')

In [2]:
ev

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PlugType,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,Type 2 CCS,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,Type 2 CCS,5,30000
2,Polestar,Polestar 2,4.7,210,400,181,620,Yes,Type 2 CCS,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,Type 2 CCS,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,Type 2 CCS,4,32997
...,...,...,...,...,...,...,...,...,...,...,...
164,Peugeot,Peugeot e-Traveller Compact 50 kWh,12.1,130,185,243,250,Yes,Type 2 CCS,7,50880
165,Renault,Renault Zoe R135,9.5,140,310,168,110,Yes,Type 2 CCS,5,28795
166,Aiways,Aiways U5 Premium,7.8,150,400,167,190,Yes,Type 2 CCS,5,37990
167,Audi,Audi e-tron S quattro,5.1,210,364,267,150,Yes,Type 2 CCS,5,52900
168,Audi,Q4 e-tron 50 quattro S Competion,6.2,180,488,180,162,Yes,Type 2 CCS,5,60631

In [3]:
ev.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PlugType,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,Type 2 CCS,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,Type 2 CCS,5,30000
2,Polestar,Polestar 2,4.7,210,400,181,620,Yes,Type 2 CCS,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,Type 2 CCS,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,Type 2 CCS,4,32997

In [4]:
ev.describe()

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,Seats,PriceEuro
count,169.000000,169.000000,169.000000,169.000000,169.000000,169.000000,169.000000
mean,7.569231,178.301775,338.532544,189.195266,463.917160,4.798817,57231.011834
std,3.285103,42.612848,124.190619,29.181550,236.152327,1.026899,34014.571338
min,2.100000,123.000000,95.000000,104.000000,110.000000,2.000000,18500.000000
25%,5.100000,150.000000,250.000000,168.000000,270.000000,4.000000,35575.000000
50%,7.300000,160.000000,340.000000,181.000000,420.000000,5.000000,45780.000000
75%,9.000000,200.000000,405.000000,206.000000,560.000000,5.000000,65000.000000
max,22.400000,410.000000,970.000000,273.000000,1410.000000,7.000000,215000.000000

In [5]:
ev.isna()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PlugType,Seats,PriceEuro
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
164,False,False,False,False,False,False,False,False,False,False,False
165,False,False,False,False,False,False,False,False,False,False,False
166,False,False,False,False,False,False,False,False,False,False,False
167,False,False,False,False,False,False,False,False,False,False,False
168,False,False,False,False,False,False,False,False,False,False,False

In [6]:
ev.isnull().sum()

Brand              0
Model              0
AccelSec           0
TopSpeed_KmH       0
Range_Km           0
Efficiency_WhKm    0
FastCharge_KmH     0
RapidCharge        0
PlugType           0
Seats              0
PriceEuro          0
dtype: int64

In [7]:
X = ev.drop(columns = ['Brand','Model','RapidCharge','PlugType','Price $'])   #independent variables 
Y = ev['Price $'] # dependent

KeyError: "['Price $'] not found in axis"

In [ ]:
X

     AccelSec  TopSpeed_KmH  Range_Km  Efficiency_WhKm  FastCharge_KmH  Seats
0         4.6           233       450              161             940      5
1        10.0           160       270              167             250      5
2         4.7           210       400              181             620      5
3         6.8           180       360              206             560      5
4         9.5           145       170              168             190      4
..        ...           ...       ...              ...             ...    ...
164      12.1           130       185              243             250      7
165       9.5           140       310              168             110      5
166       7.8           150       400              167             190      5
167       5.1           210       364              267             150      5
168       6.2           180       488              180             162      5

[169 rows x 6 columns]

In [ ]:
Y

0      55480
1      30000
2      56440
3      68040
4      32997
       ...
164    50880
165    28795
166    37990
167    52900
168    60631
Name: Price $, Length: 169, dtype: int64

In [ ]:
X_nor = pd.DataFrame(X,columns=['AccelSec','TopSpeed_KmH','Range_Km','Efficiency_WhKm','FastCharge_KmH','Seats'])

In [ ]:
X_nor

     AccelSec  TopSpeed_KmH  Range_Km  Efficiency_WhKm  FastCharge_KmH  Seats
0         4.6           233       450              161             940      5
1        10.0           160       270              167             250      5
2         4.7           210       400              181             620      5
3         6.8           180       360              206             560      5
4         9.5           145       170              168             190      4
..        ...           ...       ...              ...             ...    ...
164      12.1           130       185              243             250      7
165       9.5           140       310              168             110      5
166       7.8           150       400              167             190      5
167       5.1           210       364              267             150      5
168       6.2           180       488              180             162      5

[169 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_nor,Y,test_size=0.4,random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor  
lrmodel = KNeighborsRegressor()

In [ ]:
lrmodel

KNeighborsRegressor()

In [ ]:
lrmodel.fit(X_train,Y_train)

KNeighborsRegressor()

In [ ]:
acc = lrmodel.score(X_test,Y_test)

In [ ]:
acc

0.6398066364547759

In [ ]:
import pickle
pickle.dump(lrmodel,open('knncartest_model','wb'))

In [ ]:
model = pickle.load(open('knncartest_model','rb'))

In [ ]:
result = model.predict(X_test)

In [ ]:
result

array([ 35203.6,  48848.2,  45100. ,  35203.6,  35283.4, 125604. ,
        38823. , 105398. ,  66976. ,  34233. ,  43600. ,  55125.2,
        51640. ,  46476.4,  27235. ,  35283.4,  99284. ,  47620. ,
        35398.4,  99284. ,  34135.8, 140709.2,  41406.2,  35124.6,
        43238. ,  44500. ,  27235. ,  43340.6,  44500. ,  24676. ,
        56997. ,  35203.6,  49109. , 107143.8,  59371.8,  34135.8,
        60869. ,  63618. ,  45870.6,  72144. ,  71928.2,  85774. ,
        43017.4,  48070.6,  41406.2,  52640. , 107667.8,  37225. ,
        58215. ,  36016.2,  60216.8,  55125.2,  35398.4,  34498.4,
        89378. ,  34135.8,  26344. ,  58014.2,  58061.6,  35203.6,
        35314.4,  34233. ,  24676. ,  27181.4,  35314.4,  27181.4,
        38047.2,  39697.4])

In [ ]:
result = model.predict([[3,210,750,267,710,6]])

In [ ]:
result

array([33446.6])